<div class="text-center mb-5">
  <h1>マイセット一覧</h1>
  <div class="row mt-5">
    <% @my_sets.each do |my_set| %>
      <div class="col-lg-4 col-md-6 border pt-5 pb-3">
        <p>
          <img class="rounded" src=<%= "/pokemons/#{my_set.pokemon.image}" %> alt="Pokemon" width="160px" height="160px">
        </p>
        <p><%= link_to my_set.pokemon.name, pokemon_path(my_set.pokemon), class: 'font-weight-bold h4' %></p>
        <p>
          <% if my_set.r_skill_id %>
            <img class="rounded mr-1" src=<%= "/skills/#{my_set.r_skill.image}" %> alt="Skill" width="40px" height="40px">
            <span class="font-weight-bold"><%= my_set.r_skill.name %></span>
          <% else %>
            <img class="rounded mr-1" src=<%= "/unselected.png" %> alt="Skill" width="40px" height="40px">
            <span class="font-weight-bold">未選択</span>
          <% end %>
        </p>
        <p>
          <% if my_set.zr_skill_id %>
            <img class="rounded mr-1" src=<%= "/skills/#{my_set.zr_skill.image}" %> alt="Skill" width="40px" height="40px">
            <span class="font-weight-bold"><%= my_set.zr_skill.name %></span>
          <% else %>
            <img class="rounded mr-1" src=<%= "/unselected.png" %> alt="Skill" width="40px" height="40px">
            <span class="font-weight-bold">未選択</span>
          <% end %>
        </p>
        <p>
          <% if my_set.battle_item_id %>
            <img class="rounded mr-1" src=<%= "/battle_items/#{my_set.battle_item.image}" %> alt="Battle Item" width="40px" height="40px">
          <% else %>
            <img class="rounded mr-1" src=<%= "/unselected.png" %> alt="Battle Item" width="40px" height="40px">
          <% end %>
          <% if my_set.tool_1_id %>
            <img class="rounded mr-1" src=<%= "/tools/#{my_set.tool_1.image}" %> alt="Tool" width="40px" height="40px">
          <% else %>
            <img class="rounded mr-1" src=<%= "/unselected.png" %> alt="Tool" width="40px" height="40px">
          <% end %>
          <% if my_set.tool_2_id %>
            <img class="rounded mr-1" src=<%= "/tools/#{my_set.tool_2.image}" %> alt="Tool" width="40px" height="40px">
          <% else %>
            <img class="rounded mr-1" src=<%= "/unselected.png" %> alt="Tool" width="40px" height="40px">
          <% end %>
          <% if my_set.tool_3_id %>
            <img class="rounded mr-1" src=<%= "/tools/#{my_set.tool_3.image}" %> alt="Tool" width="40px" height="40px">
          <% else %>
            <img class="rounded mr-1" src=<%= "/unselected.png" %> alt="Tool" width="40px" height="40px">
          <% end %>
        </p>
      </div>
    <% end %>
  </div>
</div>
