<div class="text-center mb-5">
  <p>
    <img class="rounded" src=<%= "/stages/#{@stage.image}" %> alt="Stage" width="320px" height="160px">
  </p>
  <h1 class="h4 font-weight-bold">オフライン</h1>
  <p class="mt-5"><%= link_to 'ポイント登録', "/offlines/score", class: 'btn btn-lg btn-primary' %></p>
  <div class="row mt-5">
    <table class="offset-lg-3 col-lg-6 table table-bordered">
      <tr>
        <th>ポケモン</th>
        <th>最高</th>
        <th>合計</th>
      </tr>
      <% @scores.each do |score| %>
        <tr>
          <th><%= score.pokemon.name %></th>
          <td><%= score.max_point %></td>
          <td><%= score.total_point %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
