<div class="text-center">
  <p>
    <img class="rounded" src=<%= "/pokemons/#{@pokemon.image}" %> alt="Pokemon" width="160px" height="160px">
  </p>
  <p><%= link_to @pokemon.name, pokemon_path(@pokemon), class: 'font-weight-bold h4' %></p>
  <p class="font-weight-bold h4 mb-3">Lv.<%= @level %></p>
  <p>
    <% if @my_set.r_skill_id %>
      <img class="rounded mr-1" src=<%= "/skills/#{@my_set.r_skill.image}" %> alt="Skill" width="40px" height="40px">
      <span class="font-weight-bold"><%= @my_set.r_skill.name %></span>
    <% else %>
      <img class="rounded mr-1" src=<%= "/unselected.png" %> alt="Skill" width="40px" height="40px">
      <span class="font-weight-bold">未選択</span>
    <% end %>
  </p>
  <p>
    <% if @my_set.zr_skill_id %>
      <img class="rounded mr-1" src=<%= "/skills/#{@my_set.zr_skill.image}" %> alt="Skill" width="40px" height="40px">
      <span class="font-weight-bold"><%= @my_set.zr_skill.name %></span>
    <% else %>
      <img class="rounded mr-1" src=<%= "/unselected.png" %> alt="Skill" width="40px" height="40px">
      <span class="font-weight-bold">未選択</span>
    <% end %>
  </p>
  <p>
    <% if @my_set.battle_item_id %>
      <img class="rounded mr-1" src=<%= "/battle_items/#{@my_set.battle_item.image}" %> alt="Battle Item" width="40px" height="40px">
    <% else %>
      <img class="rounded mr-1" src=<%= "/unselected.png" %> alt="Battle Item" width="40px" height="40px">
    <% end %>
    <% if @my_set.tool_1_id %>
      <img class="rounded mr-1" src=<%= "/tools/#{@my_set.tool_1.image}" %> alt="Tool" width="40px" height="40px">
    <% else %>
      <img class="rounded mr-1" src=<%= "/unselected.png" %> alt="Tool" width="40px" height="40px">
    <% end %>
    <% if @my_set.tool_2_id %>
      <img class="rounded mr-1" src=<%= "/tools/#{@my_set.tool_2.image}" %> alt="Tool" width="40px" height="40px">
    <% else %>
      <img class="rounded mr-1" src=<%= "/unselected.png" %> alt="Tool" width="40px" height="40px">
    <% end %>
    <% if @my_set.tool_3_id %>
      <img class="rounded mr-1" src=<%= "/tools/#{@my_set.tool_3.image}" %> alt="Tool" width="40px" height="40px">
    <% else %>
      <img class="rounded mr-1" src=<%= "/unselected.png" %> alt="Tool" width="40px" height="40px">
    <% end %>
  </p>
</div>
<div class="row my-5">
  <div class="offset-xl-4 col-xl-4 offset-md-3 col-md-6">
    <%= form_with(url: "/pokemons/#{@pokemon.id}/score", local: true) do |f| %>
      <div class="form-group">
        <%= f.label :stage, 'ステージ' %>
        <%= f.collection_select(:stage_id, @stages, :id, :name, {prompt: "選択してください"}, {class: 'form-control'}) %>
      </div>
      <div class="form-group">
        <%= f.label :point, 'ポイント' %>
        <%= f.number_field(:point, class: 'form-control') %>
      </div>
      <%= f.submit '登録する', class: 'btn btn-primary btn-block mt-5' %>
    <% end %>
  </div>
</div>
