<div class="text-center mb-5">
  <p>
    <img class="rounded" src=<%= "/pokemons/#{@pokemon.image}" %> alt="Pokemon" width="160px" height="160px">
  </p>
  <h1 class="h4 font-weight-bold"><%= @pokemon.name %></h1>
  <% if login? %>
    <p class="font-weight-bold h4 mb-3">Lv.<%= @level %></p>
  <% end %>
  <% if @my_set %>
    <p>
      <% if @my_set.r_skill_id %>
        <img class="rounded mr-1" src=<%= "/skills/#{@my_set.r_skill.image}" %> alt="Skill" width="40px" height="40px">
        <span class="font-weight-bold"><%= @my_set.r_skill.name %></span>
      <% else %>
        <img class="rounded mr-1" src=<%= "/unselected.png" %> alt="Skill" width="40px" height="40px">
        <span class="font-weight-bold">未選択</span>
      <% end %>
    </p>
    <p>
      <% if @my_set.zr_skill_id %>
        <img class="rounded mr-1" src=<%= "/skills/#{@my_set.zr_skill.image}" %> alt="Skill" width="40px" height="40px">
        <span class="font-weight-bold"><%= @my_set.zr_skill.name %></span>
      <% else %>
        <img class="rounded mr-1" src=<%= "/unselected.png" %> alt="Skill" width="40px" height="40px">
        <span class="font-weight-bold">未選択</span>
      <% end %>
    </p>
    <p>
      <% if @my_set.battle_item_id %>
        <img class="rounded mr-1" src=<%= "/battle_items/#{@my_set.battle_item.image}" %> alt="Battle Item" width="40px" height="40px">
      <% else %>
        <img class="rounded mr-1" src=<%= "/unselected.png" %> alt="Battle Item" width="40px" height="40px">
      <% end %>
      <% if @my_set.tool_1_id %>
        <img class="rounded mr-1" src=<%= "/tools/#{@my_set.tool_1.image}" %> alt="Tool" width="40px" height="40px">
      <% else %>
        <img class="rounded mr-1" src=<%= "/unselected.png" %> alt="Tool" width="40px" height="40px">
      <% end %>
      <% if @my_set.tool_2_id %>
        <img class="rounded mr-1" src=<%= "/tools/#{@my_set.tool_2.image}" %> alt="Tool" width="40px" height="40px">
      <% else %>
        <img class="rounded mr-1" src=<%= "/unselected.png" %> alt="Tool" width="40px" height="40px">
      <% end %>
      <% if @my_set.tool_3_id %>
        <img class="rounded mr-1" src=<%= "/tools/#{@my_set.tool_3.image}" %> alt="Tool" width="40px" height="40px">
      <% else %>
        <img class="rounded mr-1" src=<%= "/unselected.png" %> alt="Tool" width="40px" height="40px">
      <% end %>
    </p>
  <% end %>
  <p class="mt-5"><%= link_to 'ポイント登録', "/pokemons/#{@pokemon.id}/score", class: 'btn btn-lg btn-primary' %></p>
  <div class="row mt-5">
    <table class="offset-lg-3 col-lg-6 offset-md-2 col-md-8 table table-bordered">
      <tr>
        <th>攻撃タイプ</th>
        <td><%= @pokemon.attack_type %></td>
      </tr>
      <tr>
        <th>役割</th>
        <td><%= @pokemon.role %></td>
      </tr>
      <tr>
        <th>攻撃／特攻</th>
        <td><%= @pokemon.attack_category %></td>
      </tr>
    </table>
    <div class="offset-lg-3 col-lg-6 offset-md-2 col-md-8">
      <p class="h4 font-weight-bold mt-5">Rスキル（Lv.<%= @r_skill.level %>で習得）</p>
      <% @r_skills.each do |r_skill| %>
        <div class="mt-5">
          <img class="rounded mr-3" src=<%= "/skills/#{r_skill.image}" %> alt="Skill" width="80px" height="80px">
          <span class="h5 font-weight-bold"><%= r_skill.name %></span>
          <table class="offset-lg-2 col-lg-8 offset-md-1 col-md-10 table table-bordered mt-3">
            <tr>
              <th>分類</th>
              <td><%= r_skill.attack_category %></td>
            </tr>
            <tr>
              <th>待ち時間</th>
              <td><%= r_skill.cool_time %>秒</td>
            </tr>
            <tr>
              <th>タイプ</th>
              <td><%= r_skill.attack_type %></td>
            </tr>
          </table>
        </div>
      <% end %>
      <p class="h4 font-weight-bold mt-5">ZRスキル（Lv.<%= @zr_skill.level %>で習得）</p>
      <% @zr_skills.each do |zr_skill| %>
        <div class="mt-5">
          <img class="rounded mr-3" src=<%= "/skills/#{zr_skill.image}" %> alt="Skill" width="80px" height="80px">
          <span class="h5 font-weight-bold"><%= zr_skill.name %></span>
          <table class="offset-lg-2 col-lg-8 offset-md-1 col-md-10 table table-bordered mt-3">
            <tr>
              <th>分類</th>
              <td><%= zr_skill.attack_category %></td>
            </tr>
            <tr>
              <th>待ち時間</th>
              <td><%= zr_skill.cool_time %>秒</td>
            </tr>
            <tr>
              <th>タイプ</th>
              <td><%= zr_skill.attack_type %></td>
            </tr>
          </table>
        </div>
      <% end %>
    </div>
    <table class="offset-lg-3 col-lg-6 table table-bordered mt-5">
      <tr>
        <th>ステージ名</th>
        <th>最高</th>
        <th>合計</th>
      </tr>
      <% @scores.each do |score| %>
        <tr>
          <th><%= score.stage.name %></th>
          <td><%= score.max_point %></td>
          <td><%= score.total_point %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
